.container{
    background-color:  #E02AE1;
    padding-bottom: 1rem;
    h4{
        padding-top: 1rem !important;
        color: white;
        display: flex;
        padding: 0 16px;
        flex-direction: column;
        align-items: center;
    }
    span{
        color: white;
        display: flex;
        padding: 0 16px;
        flex-direction: column;
        align-items: center;
        font-weight: 100;
    }
    .btn{
        padding-top: 1rem !important;
        display: flex;
        padding: 0 16px;
        flex-direction: column;
        align-items: center;
        font-weight: 100;
    }
    button{
        color: #E02AE1;
        border: 1px solid white;
        background-color: white;
        border-radius: none !important;
    }
}